files:
  "/etc/nginx/conf.d/elasticbeanstalk/01-reload-nginx.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      # 이 파일이 배포될 때마다 Nginx를 재시작하도록 설정합니다.
      service nginx restart

commands:
  01_restart_nginx:
    command: "sudo service nginx restart"
    ignoreErrors: false
